<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar">
            <a href="/home">
                <img class="navbar-img" src="/baby.png" alt="baby-img">
            </a>
            <a class="navbar-item" href="/characters">
            Characters
            </a>
            <a class="navbar-item" href="/facts-trivia">
            Facts & Trivia
            </a>
            <a class="navbar-item" href="gallery">
            Photo Gallery
            </a>
    </nav>
    <div class="main-div-character">
        <h1>Characters</h1>
            <div class="character">
                <img class="character-img" src="/dino.jpg" alt="earl-img"/>
                <div class="about-character">
                    <h2>Earl Sneed Sinclair	</h2>
                    <p><strong>Species: </strong>Megalosaurus </br>
                        <strong>About: </strong> The patriarch of the Sinclair family, Earl is the protagonist. </br>
                        He is a Megalosaurus and is depicted as being thick-headed and </br>
                        suggestible. Earl works as a Tree Pusher at the WESAYSO </br>
                        Development Corporation.
                    </p>
                </div>
            </div>
            <div class="character">
                <img class="character-img" src="/fran.png" alt="fran-img"/>
                <div class="about-character">
                    <h2>Frances Johanna "Fran" Phillips Sinclair</h2>
                    <p><strong>Species: </strong>Allosaurus	 </br>
                        <strong>About: </strong> The mother and homemaker of the Sinclair family. </br>
                        On rare occasions, Fran wears fuzzy house slippers. Earl affectionately </br>
                        calls his wife "Frannie".
                    </p>
                </div>
            </div>
            <div class="character">
                <img class="character-img" src="/robbie.jpg" alt="robbie-img"/>
                <div class="about-character">
                    <h2>Robert Mark "Robbie" Sinclair</h2>
                    <p><strong>Species: </strong>Hypsilophodon</br>
                        <strong>About: </strong> Earl and Fran's son and oldest child.</br>
                        Robbie stands out with his red varsity jacket and bright red sneakers.
                    </p>
                </div>
            </div>
            <div class="character">
                <img class="character-img" src="/charlene.jpg" alt="charlene-img"/>
                <div class="about-character">
                    <h2>Charlene Fiona Sinclair</h2>
                    <p><strong>Species: </strong>Protoceratops </br>
                        <strong>About: </strong> Earl and Fran's only daughter and middle child. </br>
                        Charlene stands out by wearing sweaters, necklaces, and earrings.
                    </p>
                </div>
            </div>
            <div class="character">
                <img class="character-img" src="/baby.jpg" alt="baby-img"/>
                <div class="about-character">
                    <h2>Baby Sinclair</h2>
                    <p><strong>Species: </strong>Megalosaurus </br>
                        <strong>About: </strong> Earl and Fran's son and youngest child. </br>
                        Baby is sarcastic and wisecracking. His favorite thing </br>
                        to do is to hit Earl on the head with a frying pan. </br> 
                        His catch phrases are "I'm the baby. Gotta love me.", </br>
                        "Again!" and "Not the mama!". </br>
                    </p>
                </div>
            </div>
    </div>
</body>
</html>