<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts & Trivia Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar">
            <a href="/home">
                <img class="navbar-img" src="/baby.png" alt="baby-img">
            </a>
            <a class="navbar-item" href="/characters">
            Characters
            </a>
            <a class="navbar-item" href="/facts-trivia">
            Facts & Trivia
            </a>
            <a class="navbar-item" href="gallery">
            Photo Gallery
            </a>
    </nav>

    <div class="main-div">
        <h1>Sobre a Família Dinossauro</h1>
        <div class="div-img">

        </div>
    </div>
</body>
</html>