<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts & Trivia Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar">
            <a href="/home">
                <img class="navbar-img" src="/baby.png" alt="baby-img">
            </a>
            <a class="navbar-item" href="/characters">
            Characters
            </a>
            <a class="navbar-item" href="/facts-trivia">
            Fun Facts
            </a>
            <a class="navbar-item" href="gallery">
            Photo Gallery
            </a>
    </nav>

    <div class="main-div-facts">
        <h1>Dinosaurs Fun Facts</h1>
        <div class="facts-div">
            <div class="fact">
                <div>
                    <h3>"Not the Mama" Came From A Real Baby</h3>
                    <p>The show's most famous catchphrase "NOT THE MAMA" </br>
                        came from creator Bob Young. Young had an infant </br>
                        son named Ethan who used to say those words at home. </br>
                        Take that, Hollywood screenwriters.</p>
                </div>
                <img src="/baby.gif" alt="baby-gif" />
            </div>
            <div class="fact">
                <img src="/actor.jpg" alt="actor-img" />
                <div>
                    <h3>No Press Was Allowed On Set During Season One</h3>
                    <p>Producers and the network forbade any members of the </br>
                        press from coming to the set during the first season </br>
                        because they didn't want any photos taken of puppeteers </br>
                        with just portions of the costumes on. They thought it </br>
                        would kill the vision for children and upset them if they </br>
                        saw a dinosaur with its head off.</p>
                </div>
            </div>
            <div class="fact">
                <div>
                    <h3>The Original Design For Earl Was Purposefully Frightening</h3>
                    <p>Designers initially made the father Earl a lot scarier </br>
                        looking, but producers thought he was too "fierce." </br>
                        So, they gave him a second chin and made him chubbier</br>
                         to soften his look.</p>    
                </div>
                <img src="/bad-dino.png" alt="bad-dino-img" />
            </div>
            <div class="fact">
                <img src="/sinclair-corporation.png" alt="sinclair-corporation-img" />
                <div>
                    <h3>The Dinosaurs' Last Names Are Petroleum Companies</h3>
                    <p>The family's last name "Sinclair" was in reference to Sinclair </br>
                        Oil Corporation which used a dinosaur in its logo. Other </br>
                        characters had names such as Phillips, Hess, Richfield, B.P., and </br>
                        even Ethyl which were in reference to oil companies and the fuel </br>
                        they produced.</p>    
                </div>
            </div>
            <div class="fact">
                <div>
                    <h3>Earl Sighed A Lot Because The Puppeteer Needed To See</h3>
                    <p>The puppeteer inside the Earl costume could only see out of the </br>
                        character's mouth.  So, in order to allow him to see where he </br>
                        was going, they created a character trait where Earl sighed a </br>
                        lot as he crossed the room.  Otherwise the puppeteer had to move </br>
                        based on his memory of previous steps.</p>
                </div>
                <img src="/dino-costume.png" alt="dino-costume-img" />
            </div>
            <div class="fact">
                <img id="child-warning" src="/child-warning.jpg" alt="child-warning-img" />
                <div>
                    <h3>The Dinosaurs' Last Names Are Petroleum Companies</h3>
                    <p>The series ended in 1994 in a totally dramatic fashion. </br>
                        The dinosaurs themselves were causing terrible </br>
                        changes in climate and needed rain, so they dropped </br>
                        bombs in volcanoes to create clouds. </br>
                        Unfortunately, it created snow which then led to the </br>
                        Ice Age, and the family knew they were going to die. </br>
                        Knowing how heavy this stuff was, producers put up a </br>
                        CHILD WARNING graphic before the episode aired.</p>
                </div>
            </div>
        </div>
        <p>            
            Source: Ranker
        </p>
    </div>
</body>
</html>