<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar">
            <a href="/home">
                <img class="navbar-img" src="/baby.png" alt="baby-img">
            </a>
            <a class="navbar-item" href="/characters">
            Characters
            </a>
            <a class="navbar-item" href="/facts-trivia">
            Fun Facts
            </a>
            <a class="navbar-item" href="gallery">
            Photo Gallery
            </a>
    </nav>
    <div class="main-div-gallery">
        <h1>Dinosaurs Photo Gallery</h1>
        <div class="imgs-div">
            <img class="squared-img" src="gallery8.jpg" alt="dinosaurs-img1" />
            <img class="squared-img" src="gallery5.gif" alt="dinosaurs-img2" />
            <img class="squared-img" src="gallery4.jpg" alt="dinosaurs-img3" />
            <img class="squared-img" src="gallery6.gif" alt="dinosaurs-img4" />
            <img class="squared-img" src="gallery2.jpg" alt="dinosaurs-img5" />
            <img class="squared-img" src="gallery7.gif" alt="dinosaurs-img6" />
            <img class="rectangular-img" src="gallery1.jpg" alt="dinosaurs-img7" />
            <img class="rectangular-img" src="gallery9.gif" alt="dinosaurs-img8" />
            <img class="rectangular-img" src="gallery3.jpg" alt="dinosaurs-img9" />
        </div>
    </div>
</body>
</html>