<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar">
            <a href="/home">
                <img class="navbar-img" src="/baby.png" alt="baby-img">
            </a>
            <a class="navbar-item" href="/characters">
            Characters
            </a>
            <a class="navbar-item" href="/facts-trivia">
            Facts & Trivia
            </a>
            <a class="navbar-item" href="gallery">
            Photo Gallery
            </a>
    </nav>
    <div class="main-div-home">
        <h1>Dinosaurs</h1>
        <div class="about-div">
            <img class="home-img" src="/familia-dinossauro-home.jpg" alt="dinosaurs-img" />
        <p>
            It is an American family sitcom television series that aired on ABC </br>
            from April 26, 1991, through October 19, 1994, reruns were shown on </br>
            Disney Channel. </br>
            </br>
            The show, about a family of anthropomorphic dinosaurs, was produced by </br>
            Michael Jacobs Productions and Jim Henson Television in association with </br>
            Walt Disney Television and distributed by Buena Vista International, Inc. </br>
            </br>
            Dinosaurs is initially set in 60,000,003 BC in Pangaea. The show centers </br>
            on the Sinclair family: Earl Sinclair (the father), Fran Sinclair (the mother), </br>
            their three children: Robbie (son), Charlene (daughter) and Baby (infant), and </br>
            Fran's mother, Ethyl.</br>
            </br>
        </p>
        </div>
    </div>
</body>
</html>